* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather, sans-serif;
}

#section1 {
    background: rgb(102, 191, 191);
    text-align: center;
    padding: 60px;
}

#section1 h1 {
    font-size: 60px;
    color: white;
}

#section1 h2 {
    color: white;
}

#section1 p {
    font-size: 18px;
}

#section1 .about-container {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: space-between;
   padding: 60px;
   margin-top: 40px;
}

#section1 .container2 p {
   line-height: 1.6;
   font-size: 18px;
}

#section1 .container1 {
   width: 40%;
 }
 

 #section1 .container2 {
    width: 70%;
 }
 
#section2 {
    background: #fff;
    text-align: center;
    padding: 50px;
    line-height: 1.6;
}

#section2 h1 {
    color: rgb(102, 191, 191);
}

#section2 h2 {
    color: rgb(102, 191, 191);
}

#section2 img {
    padding: 10px;
}


#section3 {
    background: rgb(172, 219, 219);
    list-style: none;
    padding: 50px;
    text-align: center;
    line-height: 1.8;
}

#section3 h1 {
    color: rgb(102, 191, 191);
}

#section4 {
    background: #fff;
    text-align: center;
    padding: 60px;
}

#section4 h1 {
    color: rgb(172, 219, 219);
}

#section4 h2 {
    padding: 20px;
    font-size: 20px;
    color: rgb(17, 153, 158);
}

#section4 p {
    margin: 20px;
}

#section4 .form1 {
    margin: 20px;
}

#section4 .form2 {
    margin: 20px;
}

#section4 .form1 input {
    margin: 20px;
}

#section4 .form2 input {
    margin: 20px;
}

#section4 .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section4 #textarea {
    margin: 20px;
}

#section4 #gender {
    width: 50%;
    margin-bottom: 70px;
}

#section4 #hobbies {
    width: 50%;
    margin-bottom: 70px;
}


#submit_button {
    padding: 5px;
    color: #fff;
    background: rgb(17, 153, 158);
    border-radius: 5px;
}

#footer5 {
    background: rgb(17, 153, 158);
    padding: 20px 0px;
    text-align: center;
    line-height: 1.7;
}





